.accordion-group
	.accordion-heading
		=link_to "#branch_#{br.id}", class: "accordion-toggle", data: {toggle: "collapse", parent: "#accordion2", id: "#{br.id}"} do
			%i.icon-bookmark
			= "Tienda #{index} - #{br.address} - #{br.id}"
	.accordion-body.collapse{ id: "branch_#{br.id}"}
		.accordion-inner
			%ul
				%li
					%span
						Nombre: 
					%span{class: "name no_style"}
						= br.name
				%li
					%span
						Dirección: 
					%span{class: "address no_style"}
						= br.address
				%li
					%span
						Referencia:
					%span{class: "reference no_style"}
						= br.reference
				%li
					%span
						Tiene estacionamiento: 
					%span{class: "parking  no_style"}
						= br.has_parking ? "Si" : "No"
				%li
					%span
						Tiene valet parking:
					%span{class: "valet no_style"}
						= br.has_valet ? "Si" : "No"
				%li
					%span
						Horario de atención:
					%span{class: "hours no_style"}
						= "#{br.start_hour}:#{br.start_minute} am - #{br.end_hour}:#{br.end_minute} pm"
					=hidden_field_tag "to_edit_start_hour", br.start_hour
					=hidden_field_tag "to_edit_start_minute", br.start_minute
					=hidden_field_tag "to_edit_end_hour", br.end_hour
					=hidden_field_tag "to_edit_end_minute", br.end_minute
				%li
					%span
						Distrito:
					%span{class: "district no_style", data: {id: "#{br.district_id}"}}
						= br.district.name
				%li
					%span
						Ciudad:
					%span{class: "city no_style", data: {id: "#{br.district.city.id}"}}
						= br.district.city.name
				%li
					%span
						Latitud:
					%span{class: "latitude no_style"}
						= br.latitude
				%li
					%span
						Longitud:
					%span{class: "longitude no_style"}
						= br.longitude
				%li
					%span
						Altitud:
					%span{class: "altitude no_style"}
						= br.altitude
			.branch_options
				=link_to "Editar", "#edit_branch", class: "btn click_to_edit_branch", role: "button", data: {toggle: "modal"}
				=link_to "Eliminar", destroy_branch_path(br.id), remote: true, class: "btn btn-danger"