=form_for(@coupon, html: {multipart: true}) do |f|
	- if @coupon.errors.any?
		%ul#coupon_errors
			-@coupon.errors.full_messages.each do |msg|
				%li
					=msg
	-if brand_signed_in?
		=f.hidden_field "brand_id", value: current_brand.id
	.part
		=f.label :name, "Titulo del cupón: "
		=f.text_field :name
	.part
		=f.label :description, "Descripción: "
		=f.text_area :description, cols: 40, rows: 10
	.part
		=f.label :start_date_string, "Fecha de inicio de promoción: "
		=f.date_field :start_date_string
	.part
		=f.label :end_date_string, "Fecha de fin de promoción: "
		=f.date_field :end_date_string
	.part
		=f.label :discount, "Descuento (en %): (Si es cero por favor escriba 0)"
		=f.text_field :discount
		#discount_error
			%span#discount_error_message
	- if brand_signed_in?
		.part
			%h2
				¿Dónde estará disponible este cupón?
			%br
				= select_tag "city_to_search", options_from_collection_for_select(@cities, :id, :name)
				= select_tag "district_to_search"

				= hidden_field_tag "coupon[branch_ids][]", nil
			.branches_in_district
				= render "branches_item", branches: current_brand.branches, coupon: @coupon
	-if admin_signed_in?
		.part
			=f.label "brand_id", "Tienda: "
			=f.collection_select "brand_id", Brand.all, :id, :safe_name, {prompt: true}, data: {coupon_id: @coupon.id}
		.part
			%h2
				¿Dónde estará disponible este cupón?
				= hidden_field_tag "coupon[branch_ids][]", nil
			#replaceable_branches
	.part.file_part
		=f.label :promo_image, "Imagen del cupón: "
		=f.file_field :promo_image
	.part
		=f.label :coupon_type_id, "Tipo del cupon: "
		=f.collection_select :coupon_type_id, CouponType.all, :id, :name
	.part
		=f.label :coupon_state_id, "Estado del cupon: "
		=f.collection_select :coupon_state_id, CouponState.first(2), :id, :name
	.part
		=f.submit