-unless @coupon.nil?
	.page_container
		= render "brands/everywhere_logo", current_brand: current_brand, message: @coupon.name
		.inner_content		
			.row
				.span4
					%h3
						=@coupon.name unless @coupon.name.nil? || @coupon.name.empty?
					%p
						=@coupon.description unless @coupon.description.nil? || @coupon.description.empty?
					%h5
						Mas datos
					%ul.icons
						%li
							Inicio de Promocion: 
							=@coupon.start_date.strftime("%d/%m/%y") unless @coupon.start_date.nil?
						%li
							Fin de Promocion:
							=@coupon.end_date.strftime("%d/%m/%y") unless @coupon.end_date.nil?
						- unless @coupon.discount? || @coupon.discount <= 0 
							%li
								Descuento:
								= sprintf("%.0f", @coupon.discount*100) + "%"
						%li
							Marca:
							= (@coupon.brand.name.nil? || @coupon.brand.name.empty?) ? "---" : @coupon.brand.name
						- if @coupon.brand.fb_link? || @coupon.brand.tw_link?
							%li
								#social_links_go_here
									-if @coupon.brand.fb_link?
										=link_to @coupon.brand.fb_link, class: "social_link" do
											=image_tag "facebook_logo.png"
									-if @coupon.brand.tw_link?
										=link_to @coupon.brand.tw_link, class: "social_link" do
											=image_tag "twitter_logo.png"
						%li
							Disponibilidad de la promocion:
							= coupon_locations(@coupon.branches)
						%li.branch_address_goes_here
						%li
							#locations_map
					.pad25
					/
						Mostrar cupon previo y siguiente
						=link_to "#" do
							%i{class: "icon-double-angle-left icon-4x pull-left"}
						=link_to "#" do
							%i{class: "icon-double-angle-right icon-4x pull-left"}
						.clear
						.pad25
				.span8{ style: "margin-top:14px;" }
					- if @coupon.promo_image?
						=link_to @coupon.promo_image.url, data:{ rel: "prettyPhoto[portfolio1]" } do
							=image_tag @coupon.promo_image.url, alt: ""
					- if user_signed_in?
						.favorite_part
							- text = @history.is_favorite ? "Desmarcar como favorito" : "Marcar como favorito"
							= form_tag mark_favorite_path do
								= hidden_field_tag "user_id", current_user.id
								= hidden_field_tag "coupon_id", @coupon.id
								= hidden_field_tag "is_favorite", !@history.is_favorite
								= submit_tag text, class: "favorite btn btn-primary btn-small"

		-if brand_signed_in?
			.coupon_options_for_brand
				=link_to "Editar", edit_coupon_path(@coupon), class: 'btn'
				=link_to "Borrar", @coupon, class: 'btn btn-danger', method: :delete, data: { confirm: "Una vez eliminado no podra recuperarse. Est seguro de continuar?" }

- if admin_signed_in? && @coupon.coupon_state != CouponState.last
	#approve_box
		=form_tag approve_coupon_path(@coupon.id), remote: true do 
			=hidden_field_tag "admin_id", current_admin.id
			=submit_tag "Aprobar cupón"


-content_for :ready_scripts do
	:javascript
		$(document).ready(function(){
			var map = new GMaps({
				div: "#locations_map",
				lat: $("#coupon_locations option:first").data("lat"),
				lng: $("#coupon_locations option:first").data("lng"),
			});

			map.addMarker({
				lat: $("#coupon_locations option:first").data("lat"),
				lng: $("#coupon_locations option:first").data("lng")
			});

			map.setCenter($("#coupon_locations option:first").data("lat"),$("#coupon_locations option:first").data("lng"), function(){});

			$("#locations_map").attr("style","width: 100%; height: 250px;");

			$("#coupon_locations").change(function(){
				map.removeMarkers();
				map.addMarker({
					lat: $("#coupon_locations option:selected").data("lat"),
					lng: $("#coupon_locations option:selected").data("lng")
				});
				map.setCenter($("#coupon_locations option:selected").data("lat"), $("#coupon_locations option:selected").data("lng"), function(){});

				$(".branch_address_goes_here").html("Direccion: " + $(this).data("address"));
			});

			$(".branch_address_goes_here").html("Direccion: " + $("#coupon_locations options:first").data("address"));
			map.refresh();
		});