.page_container
  = render "brands/everywhere_logo", current_brand: current_brand, message: "Editar perfil"
  %h2.register_title
    Editando datos de 
    = (current_brand.name.nil? || current_brand.name.empty?) ? "Marca" : "\"#{current_brand.name}\""

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f|
    =devise_error_messages!

    .edit_brand_part
      = f.label :name, "Nombre: "
      = f.text_field :name

    .edit_brand_part
      = f.label :email, "Correo: "
      = f.email_field :email, autofocus: true

    .edit_brand_part.brand_logo
      -if current_brand.logo_image?
        =image_tag current_brand.logo_image.url(:medium)

    .edit_brand_part
      =link_to "¿Desea cambiar de logo?", "#", id: "click_to_change_logo"
      .to_show
        = f.label :logo_image, "Logo: "
        = f.file_field :logo_image

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Actualmente esperando confirmación de: 
        =resource.unconfirmed_email

    .edit_brand_part
      = f.label :current_password do
        Contraseña actual:
        %i 
          (Necesitamos tu contraseña actual para confirmar los cambios)
      = f.password_field :current_password

    #link_to_change_password.edit_brand_part
      =link_to "Cambiar contraseña", "#", id: "click_to_show_password"

    #important_part
      .edit_brand_part.hide_until_click
        = f.label :password do 
          Contraseña: 
          %i 
            Ingresa la nueva contraseña
        = f.password_field :password, :autocomplete => "off"

      .edit_brand_part.hide_until_click
        = f.label :password_confirmation, "Vuelve a ingresar la nueva contraseña: "
        = f.password_field :password_confirmation

    .submit_brand_part
      = f.submit "Actualizar datos"

  %h3
    Cancelar mi cuenta

  %p
    = button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Este proceso es irreversible. ¿Está seguro de continuar?" }, :method => :delete

  = link_to "Volver", :back