=form_for(@brand) do |f|
  .edit_brand_part
    = f.label :name, "Nombre: "
    = f.text_field :name

  .edit_brand_part
    = f.label :email, "Correo: "
    = f.email_field :email, autofocus: true

  .edit_brand_part.brand_logo
    -if @brand.logo_image?
      =image_tag @brand.logo_image.url(:medium)
    = f.label :logo_image, "Logo: "
    = f.file_field :logo_image

  .edit_brand_part
    = f.label :fb_link, "Perfil de Facebook: "
    = f.text_field :fb_link

  .edit_brand_part
    = f.label :tw_link, "Perfil de Twitter: "
    = f.text_field :tw_link

  .edit_brand_part
    =label_tag "categories_in_edit_brand","Seleccione las categorias en las que quiera participar: "
    =select_tag "categories_in_edit_brand", options_from_collection_for_select(Category.all, :id, :name)
    =hidden_field_tag "brand[sub_category_ids][]", nil
  
  .edit_brand_part#sub_categories_go_here
    - Category.all.each do |category|
      .sub_category{id: "category_#{category.id}"}
        %ul
          - category.sub_categories.each do |sub_category|
            %li
              =check_box_tag "brand[sub_category_ids][]", sub_category.id, @brand.sub_category_ids.include?(sub_category.id), id: dom_id(sub_category)
              =label_tag dom_id(sub_category), sub_category.name, class: "sub_category_checkbox"

  .submit_brand_part{ style: "clear: both;" }
    = f.submit "Actualizar datos" 