!!!DOCTYPE html
%html
	%head
		%meta{charset: "utf-8"}
		%title QPON
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
		%meta{ name: "description", content: ""}
		%meta{ name: "author", content: ""}
		= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700'
		/
			[if IE]>
			=stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro"
			=stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic"
			=stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic"
			=stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:600"
			=stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:700" 
			<![endif]
		= stylesheet_link_tag "prettyPhoto.css"
		= stylesheet_link_tag "bootstrap.css" 
		/
			REUBICAR FUENTES!
		= stylesheet_link_tag "font-awesome.min.css" 

		= stylesheet_link_tag "theme.css" 
		= stylesheet_link_tag "max-width960.css" 

		/
			[if IE 7]>
			=stylesheet_link_tag "font-awesome-ie7.min.css"
			<![endif]
		/
			[if lt IE 9]>
			=javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
			<![endif]    

		= csrf_meta_tags
		= stylesheet_link_tag    "application", media: "all"
	%body
		-if notice
			.system_message
				.alert.alert-error
					%a.close{data: {dismiss: alert}}
						x
					%p
						=notice
		.container
			= render "layouts/header"
			= yield
			= render "layouts/footer"

		=form_for(:user, :url => session_path(:user)) do |f|
			#start_session.modal.hide.fade{tabindex: "-1", role: "dialog", aria:{ labelledby: "myModalLabel", hidden: "true"}}
				.modal-header
					%button.close{ id: "category_close_button", type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
						×
					%h3
						INICIAR SESIÓN
				.modal-body
					#user_session_index_start
						.new_category_part
							=f.label :email, "Correo: "
							=f.text_field :email
						.new_category_part
							=f.label :password, "Contraseña: "
							=f.password_field :password
					#user_alternative_session_start
						=link_to "Iniciar sesión usando Facebook"
						%br
						=link_to "Registrarse", new_user_registration_path
				.modal-footer
					%button#close_button.btn{data: {dismiss: "modal"}, aria: {hidden: "true"}}
						Cancelar
					=submit_tag "Iniciar sesión", class: "btn btn-primary"

		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"

		<script type="text/javascript">$('a[data-rel]').each(function() {$(this).attr('rel', $(this).attr('data-rel')).removeAttr('data-rel');});</script>

		/
			<script type="text/javascript">$(window).load(function(){$('.projects').isotope({});});</script>		
			
			<script type="text/javascript">$(function () {$('div.element').hide();});var i = 0; var int=0; $(window).bind("load", function() { var int = setInterval("doThis(i)",100);fade in speed in milliseconds}); function doThis() {var imgs = $('div.element').length;if (i >= imgs) {clearInterval(int);}$('div.element:hidden').eq(0).fadeIn(100);i++;}</script>
		= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
		= javascript_include_tag "https://raw.github.com/HPNeo/gmaps/master/gmaps.js"
		= javascript_include_tag "application"
		= yield :ready_scripts