%h2.register_title
  Editando
  = current_user.name.nil? || current_user.name.empty? ?  " Usuario" : "#{current_user.name} #{current_user.last_name}"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  .edit_user_part
    = f.label :name, "Nombre: "
    = f.text_field :name

  .edit_user_part
    = f.label :last_name, "Apellido: "
    = f.text_field :last_name

  .edit_user_part
    = f.label :birthday, "Fecha de nacimiento: "
    = f.date_select :birthday, start_year: 1970, end_year: Time.now.year, order: [:day, :month, :year], use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)

  .edit_user_part
    = f.label :sex, "Sexo: "
    = f.select :sex, { masculino: true, femenino: false }

  .edit_user_part
    = f.label :email
    = f.email_field :email, autofocus: true

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Actualmente esperando confirmación de: 
      = resource.unconfirmed_email

  .edit_user_part
    = f.label :password do
      Contraseña:
      %i
        (Deja en blanco si no quieres cambiarla)
    = f.password_field :password, autocomplete: "off" 

  .edit_user_part
    = f.label :password_confirmation, "Confirmacion de contraseña: "
    = f.password_field :password_confirmation

  - if f.object.encrypted_password.present?
    .edit_user_part
      = f.label :current_password do
        Contraseña actual:
        %i
          (Necesitamos tu contraseña actual para confirmar los cambios)
      = f.password_field :current_password

  .edit_user_part
    = f.submit "Actualizar datos"

%h3
  Cancelar mi cuenta

%p
  = button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Este proceso es irreversible. ¿Está seguro de continuar?" }, :method => :delete

= link_to "Volver", :back